<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plate Buckling Optimizer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>

<div class="navbar">
  <a href="{{ url_for('index') }}">Startpage</a>
  <a href="{{ url_for('cs_analysis') }}">CS Analysis Tool</a>
  <a href="{{ url_for('optimize') }}">CS Optimization Tool</a>
</div>

<h1>CS Optimization Tool</h1>
<p>Check the Results.</p>
<p>To see the results, use the following button!</p>
<a href="{{ url_for('static', filename= 'all.pdf') }}" download>
  <button type="button"> Download </button>
</a>
<div class="row">
  <div class="side">
  </div>
  <div class="main">
  </div>
</div>
</body>
</html>
