<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plate Buckling Optimizer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>

<div class="navbar">
  <a href="{{ url_for('index') }}">Startpage</a>
  <a href="{{ url_for('cs_analysis') }}">CS Analysis Tool</a>
  <a href="{{ url_for('optimize') }}">CS Optimization Tool</a>
</div>

<h1>CS Analysis Tool</h1>
<p>Check the Results.</p>

<div class="row">
  <div class="side">
  <table>
    <tr>
      <td> &eta;<sub>1</sub></td>
      <td> {{ results["eta_1"] }}</td>
    </tr>
    <tr>
      <td> &eta;<sub>3 Deck </td>
      <td> {{ results["eta_3_side_1"] }}</td>
    </tr>
    <tr>
      <td> Interaction Deck Plate </td>
      {% if results["interaction_1"] == -1 %}
      <td>  ---- </td>
      {% else %}
      <td> {{ results["interaction_1"] }}</td>
      {% endif %}
    </tr>
    <tr>
      <td> &eta;<sub>3 Right Web </td>
      <td> {{ results["eta_3_side_2"] }}</td>
    </tr>
    <tr>
      <td> Interaction Right Web </td>
      {% if results["interaction_2"] == -1 %}
      <td>  ---- </td>
      {% else %}
      <td> {{ results["interaction_2"] }}</td>
      {% endif %}
    </tr>
    <tr>
      <td> &eta;<sub>3 Bottom Plate </td>
      <td> {{ results["eta_3_side_3"] }}</td>
    </tr>
    <tr>
      <td> Interaction Bottom Plate </td>
      {% if results["interaction_3"] == -1 %}
      <td>  ---- </td>
      {% else %}
      <td> {{ results["interaction_3"] }}</td>
      {% endif %}
    </tr>
    <tr>
      <td> &eta;<sub>3 Left Web </td>
      <td> {{ results["eta_3_side_4"] }}</td>
    </tr>
    <tr>
      <td> Interaction Left Web </td>
      {% if results["interaction_4"] == -1 %}
      <td>  ---- </td>
      {% else %}
      <td> {{ results["interaction_4"] }}</td>
      {% endif %}
    </tr>
    </table>
    <p>To see more detailed results, use the following button!</p>
    <a href="{{ url_for('static', filename= 'cs.pdf') }}" download>
      <button type="button"> Download </button>
    </a>

  </div>
  <div class="main">
    {{ results["image"] | safe }}
  </div>
</div>
</body>
</html>
