<!DOCTYPE html>
<html lang="en">
<head>
    <title>Plate Buckling Optimizer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>

<div class="navbar">
  <a href="{{ url_for('index') }}">Startpage</a>
  <a href="{{ url_for('cs_analysis') }}">CS Analysis Tool</a>
  <a href="{{ url_for('optimize') }}">CS Optimization Tool</a>
</div>

<h1>Plate Buckling Optimizer</h1>
<p>Please fill the following form.</p>

</div>

<p>Hello. This is our Bachelor's Thesis. Here we will add some text on what we did and how these things work... </p>
<p>Choose now which function you would like to use ... </p>
<div class="row">
  <div class="side">
    <form action="/cs_analysis_step_1" method="GET">
      <input type="submit" name="cs_analysis" value="CS Analysis">
    </form>
    <br>
    <form action="/optimize" method="GET">
      <input type="submit" name="optimize" value="Optimize">
    </form>
  </div>
  <div class="main">
      <p></p>
  </div>
</div>
</body>
</html>
